{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.10.3"}
  org.slf4j/slf4j-api    {:mvn/version "1.7.30"}
  org.slf4j/slf4j-simple {:mvn/version "1.7.30"}
  mount/mount            {:mvn/version "0.1.16"}

  ring/ring-core         {:mvn/version "1.9.3"}
  ring/ring-json         {:mvn/version "0.5.1"}
  http-kit/http-kit      {:mvn/version "2.5.3"}
  hiccup/hiccup          {:mvn/version "1.0.5"}}

 :aliases
 {:cider {:extra-deps {cider/cider-nrepl             {:mvn/version "0.26.0"}
                       refactor-nrepl/refactor-nrepl {:mvn/version "2.5.1"}}
          :main-opts  ["-i" "dev/user.clj"
                       "-e" "(start)"
                       "-m" "nrepl.cmdline"
                       "-i"
                       "--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]}

  :ancient {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core"]}}}
